#outer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 
    "header"
    "nav"
    "router"
    "footer";
}

header {
    grid-area: header;
    padding: 10px;
    text-align: center;
    background-image: url("../assets/images/header.jpg");
}

h1 {
    padding: 0.5rem;
    font-size: 3rem;
    font-weight: 900;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

nav {
    position: sticky;
    top: 0;
    height: 2.5rem;
    padding: 10px;
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(188, 206, 248);
}

nav div {
    padding: 10px 0;
}

nav a {
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin: 0 10px;
}

nav a:hover, nav a:visited {
    background-color: rgb(152, 168, 248);
}

nav svg {
    margin-bottom: -5px;
    height: 1.4rem;
}

#router {
    grid-area: router;
}

footer {
    margin-top: 1.6rem;
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
    grid-area: footer;
    padding: 10px;
    text-align: center;
}

#cart-link {
    position: relative;
}

#number-of-travels {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
    background-color: rgb(233, 69, 96);
}

@media (max-width: 992px) {
    #outer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "header"
        "nav"
        "router"
        "footer";
    }
}