<div id="container">
    <div id="contact">
        <h2>O nas</h2>
        <p id="info">
            MarcoPolo Travels to polskie biuro podróży, które oferuje szeroką gamę wycieczek zarówno dla klientów indywidualnych, jak i grup zorganizowanych. Naszym priorytetem jest zapewnienie bezpiecznych i niezapomnianych wakacji naszym klientom. Oferujemy wyjazdy zarówno do krajów europejskich, jak i egzotycznych miejsc na całym świecie. Nasze wycieczki są zorganizowane przez wykwalifikowanych przewodników, którzy zapewnią pełne bezpieczeństwo i komfort podczas podróży. Ponadto, oferujemy atrakcyjne ceny i możliwość dopasowania wycieczki do indywidualnych potrzeb naszych klientów. Serdecznie zapraszamy do skorzystania z naszych usług!
        </p>
        <h2>Kontakt</h2>
        <span>e-mail: marcopolo@travel.pl</span><br>
        <span>telefon: 600 700 800</span><br>
        <span>adres: Kawiory 21, 30-055 Kraków</span><br>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4307.204753956301!2d19.909713374876773!3d50.06607708549273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165ba4c2a49e97%3A0xc4bef8eb0fcc3739!2sCentrum%20Informatyki%20Akademii%20G%C3%B3rniczo-Hutniczej%20w%20Krakowie%2C%20Kawiory%2021%2C%2030-055%20Krak%C3%B3w!5e0!3m2!1spl!2spl!4v1673193820498!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>