main {
    padding: 20px;
}

#customers {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 25px;
}

.customer {
    margin-right: 50px;
    padding: 10px;
    border: 5px solid rgb(188, 206, 248);
    border-radius: 10px;
}

button {
    margin-top: 10px;
    margin-right: 10px;
    padding: 7px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

#details {
    background-color: rgb(152, 168, 248);
}

#choose {
    background-color: #E8F3D6;
}

#delete {
    background-color: #E97777;
}

#add {
    margin-top: 25px;
    font-size: 1rem;
    padding: 10px;
    background-color: rgb(179, 231, 179, 0.7);
}