main {
    padding-top: 5px;
    font-weight: 600;
}

h2, .detail, #info, #main span {
    margin-left: 5px;
}

#main {
    background-color: gold;
}

#main span {
    display: block;
    padding: 5px;
    margin: 5px 0;
}

.few {
    border-top: 3px solid rgba(255, 0, 0, 0.65);
    border-bottom: 3px solid rgba(255, 0, 0, 0.65);
}
.many {
    border-top: 3px solid rgba(0, 128, 0, 0.65);
    border-bottom: 3px solid rgba(0, 128, 0, 0.65);
}

.detail {
    padding: 5px;
    margin: 10px 0;
}

.r {
    float: right;
    text-align: right;
}

#summary {
    padding: 5px;
    text-align: right;
    background-color: gold;
}

#cart-link {
    text-decoration: none;
    color: black;
}