<h3>Ocena</h3>
<div>
    <label>
        <input type="checkbox" (change)="change(1)" [checked]="ts.selectedStars.indexOf(1) != -1">
        1 gwiazdka
    </label>
    <label>
        <input type="checkbox" (change)="change(2)" [checked]="ts.selectedStars.indexOf(2) != -1">
        2 gwiazdki
    </label>
    <label>
        <input type="checkbox" (change)="change(3)" [checked]="ts.selectedStars.indexOf(3) != -1">
        3 gwiazdki
    </label>
    <label>
        <input type="checkbox" (change)="change(4)" [checked]="ts.selectedStars.indexOf(4) != -1">
        4 gwiazdki
    </label>
    <label>
        <input type="checkbox" (change)="change(5)" [checked]="ts.selectedStars.indexOf(5) != -1">
        5 gwiazdek
    </label>
</div>