main {
    padding-top: 5px;
    top: 0;
}

h2, .detail, #info, #main span {
    margin-left: 5px;
}

#main {
    background-color: gold;
    font-weight: 600;
}

#main span {
    display: block;
    padding: 5px;
    margin: 5px 0;
}

.few {
    border-top: 3px solid rgba(255, 0, 0, 0.65);
    border-bottom: 3px solid rgba(255, 0, 0, 0.65);
}

.few a {
    color: blue;
}

.many {
    border-top: 3px solid rgba(0, 128, 0, 0.65);
    border-bottom: 3px solid rgba(0, 128, 0, 0.65);
}

.detail {
    padding: 5px;
    margin: 10px 0;
}

.r {
    float: right;
    text-align: right;
}

.buttons-container {
    margin-left: auto;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 40px;
    font-weight: 600;
}

.buttons-container button {
    float: right;
    padding: 10px;
    border: 0;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(152, 168, 248);
}

#resign {
    background-color: #E97777;
}

#summary {
    padding: 5px;
    text-align: right;
    background-color: gold;
}