<article class="card">
    <h2>Użytkownik {{ customer.username }}</h2>

    <h3>Szczegóły</h3>
    <div id="flex-container">
        <div id="datas">    
            <p><strong>Dane kontaktowe</strong></p>
            <ul>
                <li> Imię: <strong> {{ customer.firstName }} </strong> </li>
                <li> Nazwisko: <strong> {{ customer.lastName }} </strong> </li>
                <li> Email: <strong> {{ customer.email }} </strong> </li>
                <li> Numer telefonu: <strong> {{ customer.phoneNumber }} </strong> </li>
            </ul>
        </div>
        <div id="adress">
            <p><strong>Adres</strong></p>
            <ul>
                <li> Państwo: <strong> {{ customer.address.country }} </strong> </li>
                <li> Miasto: <strong> {{ customer.address.city }} </strong> </li>
                <li> Ulica: <strong> {{ customer.address.street }} {{ customer.address.buildingNumber }} {{ customer.address.apartmentNumber }} </strong> </li>
                <li> Państwo: <strong> {{ customer.address.country }} </strong> </li>
            </ul>
        </div>
    </div>
    
    <div id="reservations">
        <div id="purchase" *ngIf="purchases.length > 0">
            <h3>Zakupione wycieczki</h3>
            <div *ngFor="let purchase of purchases, index as i" class="detail">
                <strong> {{ purchase.title | uppercase }} </strong><br> 
                Lokalizacja: <strong> {{ purchase.destination }} </strong><br>
                Od: <strong> {{ purchase.startDate | date:"dd.MM.yyyy" }} </strong><br>
                Do: <strong> {{ purchase.endDate | date:"dd.MM.yyyy" }} </strong><br>
                Data rezerwacji wycieczki: <strong> {{ purchase.reservationDate | date:"dd.MM.yyyy, h:mm a"}} </strong><br>
                Data zakupu wycieczki: <strong> {{ purchase.purchaseDate | date:"dd.MM.yyyy, h:mm a"}} </strong><br>
                Status wycieczki: <strong> {{ checkStatus(purchase) }} </strong><br>
                Liczba kupionych wycieczek: <strong> {{ purchase.tickets }} </strong><br>
                Zapłacono: <strong>{{ purchase.tickets * purchase.price | currency: 'EUR'}}</strong>
            </div>    
        </div>
        <div id="reservation" *ngIf="reservations.length > 0">
            <h3>Zarezerwowane wycieczki</h3>
            <div *ngFor="let reservation of reservations index as i" class="detail">
                <strong> {{ reservation.title | uppercase }} </strong><br> 
                Lokalizacja: <strong> {{ reservation.destination }} </strong><br>
                Od: <strong> {{ reservation.startDate | date:"dd.MM.yyyy" }} </strong><br>
                Do: <strong> {{ reservation.endDate | date:"dd.MM.yyyy" }} </strong><br>
                Data rezerwacji wycieczki: <strong> {{ reservation.reservationDate | date:"dd.MM.yyyy, h:mm a"}} </strong><br>
                Status wycieczki: <strong> {{ checkStatus(reservation) }} </strong><br>
                Liczba kupionych wycieczek: <strong> {{ reservation.tickets }} </strong><br>
                Zapłacono: <strong>{{ reservation.tickets * reservation.price | currency: 'EUR'}}</strong>
            </div>   
        </div>
        <div id="cancelled" *ngIf="cancelled.length > 0">
            <h3>Odrzucone wycieczki</h3>
            <div *ngFor="let c of cancelled, index as i" class="detail">
                <strong> {{ c.title | uppercase }} </strong><br> 
                Lokalizacja: <strong> {{ c.destination }} </strong><br>
                Od: <strong> {{ c.startDate | date:"dd.MM.yyyy" }} </strong><br>
                Do: <strong> {{ c.endDate | date:"dd.MM.yyyy" }} </strong><br>
                Data rezerwacji wycieczki: <strong> {{ c.reservationDate | date:"dd.MM.yyyy, h:mm a"}} </strong><br>
                Data zrezygnowania z wycieczki: <strong> {{ c.cancelationDate | date:"dd.MM.yyyy, h:mm a"}} </strong><br>
                Status wycieczki: <strong> {{ checkStatus(c) }} </strong><br>
                Liczba kupionych wycieczek: <strong> {{ c.tickets }} </strong><br>
                Zapłacono: <strong>{{ c.tickets * c.price | currency: 'EUR'}}</strong>
            </div>    
        </div>
    </div>
</article>